@import './vars';
@import './fonts';

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

.header {
    @include header();
    color: $white;
    text-align: center;
    margin-bottom: 24px;
    z-index: 3;
}

.app {
    position: relative;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 320px);
    gap: 80px;

    @media (max-width: 1199px) {
        gap: 40px;
    }

    @media (max-width: 1079px) {
        grid-template-columns: [one] 1fr [two] 1fr [three];
        grid-template-rows: [one] 1fr [two] 1fr [three];
    }

    @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
    }
}
